<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <!-- Meta Kw -->
    <meta name="keywords" content="Talla en madera , madera , trabajos realizados con madera , escultura en madera , Artesania en madera , Madera , Arte en madera , Artes Plasticas  ">

    <!-- Meta tag -->
    <meta name="description" content="Gaviota olmos - Artista  Plastica - Sección   Talla   en  madera  echas    con   distintas   tecnicas   y   maderas  artes  plasticas   , Maderas  ,  Artesanias  echas  en  madera ">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gaviota.png">
    <title>Talla</title>

    <!-- Op Graph -->
    <meta property="og:title" content="Gaviota Olmos - Artista plástica">
    <meta property="og:description" content="Gaviota Olmos artista plástica.  Talla en madera  Artes  Plásticas , Arte textil  ,  Joyeria  ,  Pintura  ,  Escultura  ">
    <meta property="og:image" content="https://i.pinimg.com/564x/72/99/aa/7299aa7d0bc66f213188e90274088d5c.jpg">
</head>
<body>
    <header>
        
        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>  

        <nav >
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">
        <h2>Talla</h2>
    <div class="trabajos-container__obra">
        
        <div class="trabajosObra gridObra1">
            <img src="/src/assets/img/talla/talla-1.webp" alt="escultura echa en madera intervenida con placa de alpaca">
            <h3> <ins>El abrazo</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Madera engarzada con placa de alpaca grabada al ácido.</p>
        </div>

        <div class="trabajosObra gridObra2">
            <img src="/src/assets/img/talla/talla-2.webp" alt="Recipientes echo en madera intervenido con colores">
            <h3> <ins>Frascos</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Frascos de cemento con incrustaciones de metal pintadas con acrílico.</p>
        </div>
        
        <div class="trabajosObra gridObra3">
            <img src="/src/assets/img/talla/talla-3.webp" alt="Escultura echa en madera intervenida con chapa de acero">
            <h3> <ins>Buho</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Madera tallada, chapa envejecida.</p>
        </div>
        
        <div class="trabajosObra gridObra4">
            <img src="/src/assets/img/talla/talla-4.webp" alt="Escultura echa con corteza de arbol">
            <h3> <ins>Recuerdos de una vida pasada</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Corteza de cardón, talla.</p>
        </div>
        
        <div class="trabajosObra gridObra5">
            <img src="/src/assets/img/talla/talla-5.webp" alt="Peces echos en madera ,talla en madera.">
            <h3> <ins>Picis</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Peces tallados en madera.</p>
        </div>
        
        <div class="trabajosObra gridObra6">
            <img src="/src/assets/img/talla/talla-6.webp" alt="Cara tallada en madera">
            <h3> <ins>El rezo</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Rostro tallado en madera.</p>
        </div>
        
        <div class="trabajosObra gridObra7talla">
            <img src="/src/assets/img/talla/talla-7.webp" alt="Escultura en madera ,talla en madera">
            <h3> <ins>Después del mañana</ins> </h3>
            <h4> <i>Descrpición de la obra:</i> </h4>
            <p>Estructura echa en madera.</p>
        </div>

        <div class="trabajosObra gridObra8talla">
            <img src="/src/assets/img/talla/talla-8.webp" alt="Escultura echa en madera">
            <h3> <ins>Antes del mañana</ins> </h3>
            <h4> <i>Descripción de la obra:</i> </h4>
            <p>Estructura echa en madera.</p>
        </div>

    </div>
        <div class="volver">
            <a href="../../index.html#trabajos">Volver</a>
        </div>
        
    </section>
    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados.</p>
    </footer>
</body>
</html>